html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1 {
    color: yellow;
    font-size: 10vw; 
    text-align: center;
    font-weight: bold;
}