<section class="section" data-id="stats_main">
    <div class="container" data-id="stats_container">
        <div class="stats-grid" data-id="stats_grid_wrapper">
            <div class="stat-item" data-id="stats_item_sold">
                <p class="stat-item-number" data-id="stats_item_sold-number">120+</p>
                <p class="stat-item-label" data-id="stats_item_sold-label">Satılan Mülk</p>
            </div>
            <div class="stat-item" data-id="stats_item_clients">
                <p class="stat-item-number" data-id="stats_item_clients-number">90+</p>
                <p class="stat-item-label" data-id="stats_item_clients-label">Mutlu Müşteri</p>
            </div>
        </div>
    </div>
</section>